.bulle-icone.bleu {
    background-color: #012a37;
}

.bulle-icone-bordure.bleu {
    background-color: #c9c9c9;
}

.article-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    margin-top: 20px;
}

.article1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.article2 {
    display: flex;
    align-items: flex-start;
}

.article3 {
    display: flex;
}

.article4 {
    display: flex;
    align-items: flex-start;
}

.article-title {
    margin-bottom: 10px;
    font-size: 1.5em;
    font-weight: bold;
}

.article-description {
    margin-bottom: 10px;
    line-height: 1.3rem;
}

.article-photo {
    max-width: 33%;
    margin-bottom: 10px;
}

.article-photo-right {
    max-width: 33%;
    margin-left: auto;
}

.article-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 1rem;
    line-height: 1.3rem;
    max-width: 50%;
}

.article-text-no-margin {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    line-height: 1.3rem;
    margin-left: 0;
    max-width: 50%;
}

.site-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #f8f8f8;
    border-top: 1px solid #e7e7e7;
}

.footer-left {
    display: flex;
    align-items: center;
    margin-right: 20px;
}

.footer-logo {
    max-height: 50px;
}

.footer-separator {
    width: 1px;
    height: 50px;
    background-color: #ccc;
    margin: 0 20px;
}

.footer-right {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.footer-links {
    display: flex;
    gap: 10px;
    margin-bottom: 10px;
}

.footer-links a {
    text-decoration: none;
    color: #007bff;
}

.footer-links a:hover {
    text-decoration: underline;
}

.remonter {
    margin-left: auto;
    text-decoration: none;
    color: #007bff;
}

.remonter:hover {
    text-decoration: underline;
}
